{% extends 'core/base.html' %}

{% block title %}{{ view.object|default_if_none:'Novo Post' }} - Meu Blog{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">{{ view.object|default_if_none:'Novo Post' }}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a href="{% url 'pages' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 