{% extends 'core/base.html' %}

{% block title %}Sobre - Meu Blog{% endblock %}

{% block content %}
<div class="mt-5">
    <h1>Sobre mim</h1>
    <p>Olá! Meu nome é Emiliano Junqueira. Sou o proprietário deste blog, apaixonado por tecnologia, programação e educação. Aqui compartilho ideias, projetos e novidades do mundo tech.</p>
    <ul>
        <li>Email: emiliano.junqueira@gmail.com</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/emiliano-junqueira-702b65235/" target="_blank">@https://www.linkedin.com/in/emiliano-junqueira-702b65235/</a></li>
        <li>GitHub: <a href="https://github.com/EmilianoJMC" target="_blank">@EmilianoJMC</a></li>
    </ul>
</div>
{% endblock %} 